# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# Preserve upstream license/NOTICE whitespace, including original line endings.
THIRD_PARTY_NOTICES.txt -whitespace
